// My custom shit

figure.code, div.highlight {
	max-width: 750px;
	margin: 0 auto;
	box-shadow: none;
}

.highlight, .gist-highlight, .pre-code,
.highlight code, .highlight .line-numbers, 
html .gist .gist-file .gist-syntax .highlight .line_numbers,
html .gist .gist-file .gist-syntax .highlight pre {
	background: none !important;
	background-color: #fff !important;
}

h1#website_title {
	margin-top: 12px;
}

h3#header_social {
	margin-top: 42px;
}

figure.code .highlight {
	border-color: #F8F8F8 !important;
}