<footer id="footer">
 <div class="separator"></div>
 <div id="footer_info">
    My name is <a href="/">Sheharyar Naseer</a> and I code beautiful apps.
    <br/>
    I like
    <a href="https://www.ruby-lang.org/‎">Ruby</a>,
    <a href="http://nodejs.org/">Node</a>,
    <a href="http://heroku.com">Heroku</a>,
    <a href="http://github.com/sheharyarn">Github</a>,
    <a href="http://www.adobe.com/products/photoshopfamily.html">Photoshop</a> &amp;
    <a href="http://www.apple.com/macbookair/">Airs</a>. 
 </div>
</footer>