      <header id="header" class="headerhome">
         <div class="header_lead">
            <figure class="logo logo_home">
               <a href="/">Sheharyar Naseer</a>
            </figure>
            <h1 id="website_title">I'm <span>Sheharyar Naseer</span></h1>
         </div>
         <div class="header_intro">
            <h3>A Minimalist Web Craftsman from Lahore</h3>
         </div>
         <div class="header_links">
            <a href="#">Me</a> •
            <a href="#">My Work</a> •
            <a href="#">My Portfolio</a>
         </div>
      </header>