---
layout: default
single: true
---

<section id="article_section">
  {% include article.html %}

  <p class="meta">
    {% include post/categories.html %}
  </p>
  
  <div id="other_posts">
    <div class="separator"></div>
    
    {% if page.previous.url %}
      <a id="previous_post" title="Previous Post: {{page.previous.title}}" href="{{page.previous.url}}">
        ← {{ page.previous.title }}
      </a>
    {% endif %}

    {% if page.next.url %}
      <a id="next_post" title="Next Post: {{page.next.title}}" href="{{page.next.url}}">
        {{ page.next.title }} →
      </a>
    {% endif %}

  </div>
</section>

