
/** Site Wide **/

strong,
#post_info,
h1, h2, h3, h4, h5, h6,
ul.article_list li a,
article.post ul li,
article.post ol li,
article p, footer#footer {
  color: #909090;
}

article h2.post_title a,
.userhome article h2.post_title a:hover,
a, a:link, a:visited, a:active,
aside.section_heading h6,
#website_title span,
ul.article_list li a:hover {
  color: #FFCC00;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}

article h2.post_title a:hover,
.userhome article h2.post_title a,
a:hover, a:focus {
  color: #333;
}

h1, h2, h3, 
#other_posts a,
ul.article_list li a,
h1#website_title, h3#website_title,
article h2.post_title, article h2.post_title a {
    transition-duration: 0.5s;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.165, 0.63, 0.14, 0.82);
}

article.post ul, article.post ol {
  margin: 20px auto;
}

article.post ul li, article.post ol li {
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 5px;
  display:list-item;
}

article blockquote {
  margin: 50px auto;
  max-width: 650px;
  padding-left: 15px;
  padding-right: 30px;
  border-left: 5px solid #FFCC00;
}

article blockquote p {
  font-size: 20px;
  line-height: 1.5;
}


/** Section Headers **/

aside.section_heading {
    margin: 20px auto;
    max-width: 750px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
}

aside.section_heading h6 {
    font-family: 'freight-sans-pro';
    font-size: 17px;
    font-weight: 800;
    line-height: 17px;
    text-transform: uppercase;
    margin-bottom: -15px;
}



/** Articles **/

article h2.post_title a {
  /*color: #333333;*/
  text-decoration: none;
  border-bottom: none;
  font-size: 40px;
}

article h2.post_title {
  text-decoration: none;
    font-family: 'freight-sans-pro','proxima-nova','Helvetica';
    font-size: 38px;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 20px;
    margin-top: 30px;
}



/** Home: Article List **/

ul.article_list {
  margin-top: 40px;
  font-size: 18px;
}

ul.article_list li a {
  margin-bottom: 15px;
}

section#more_articles {
  margin-bottom: 8em;
}



/** Article pages **/

#post_info {
  margin-bottom: 10px;
}

#article.post .post_title {
  margin-top: 15px;
  margin-bottom: 30px;

}

#other_posts {
  font-size: 18px;
  margin-bottom: 3.4em;
}

#other_posts .separator {
  margin-bottom: 3em;
}

#other_posts #next_post {
  float: right;
  margin-bottom: 3.4em;
}



/** Footer Code **/

footer#footer {
  margin-top: 3em;
  margin-bottom: 3em;
  line-height: 1.5;
  text-align: center;
}

footer#footer .separator {
  margin-bottom: 2em;
}



/** Header Code **/

header#header {
  padding-bottom: 5em;
  position: relative;
  width: auto;
  display: block;
  /*margin-top: 0;*/
}

header#header.headerhome {
  margin-top: 12em;
}

h1#website_title, h3#website_title {
  display: inline-block;
  vertical-align: middle;
  font-family: "freight-sans-pro",sans-serif;
    margin-bottom: 0;
    margin-right: 7px;
    position: relative;
    top: 0;
    transition-duration: 0.5s;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.165, 0.63, 0.14, 0.82);
}

h1#website_title {
  font-size: 2.5em;
    margin-top: 0px;
}

h3#website_title {
  font-size: 1.3em;
  margin-top: 13px;
  margin-left: -30px;
  /*width: 90%;*/
}

h3#header_social {
  margin: 38px 7px 0 0;
  float: right;
  display: inline-block;
  vertical-align: middle;
}

#header_social a {
  margin-left: 10px;
}

.header_links {
  color: #909090;
  font-size: 17px;
}

.header_intro h3 {
  margin-top: 8px;
  margin-bottom: 35px;
  font-size: 18px;
  font-weight: 300;
}

figure.logo {
  vertical-align: middle;
  border-radius: 100%;
    display: inline-block;
    height: 90px;
    position: relative;
    width: 90px;
}

figure.logo a {
    background-image: url("https://d1jcp5e5r52ocf.cloudfront.net/robot_square.png");
  background-color: #FFCC00;
  border: 4px solid #FFFFFF;
    border-radius: 100%;
    display: block;
    margin: 0 0 0 -5px;
    position: relative;
    text-indent: -9999px;
    top: 24px;
    height: 50px;
    width: 50px;
}

figure.logo.logo_home {
  display: block;
    bottom: auto;
    left: -100px;
    margin-top: -24px;
    position: absolute;
    right: auto;
}

figure.logo.logo_home a {
    height: 85px;
    width: 85px;
    margin: 0 auto;
}


/** Small Screen Header **/
@media screen and (max-width : 1000px) {
  header#header.headerhome {
    padding-top: 20px;
    margin-top: 0;
  }

  figure.logo.logo_home {
    top: auto;
    bottom: auto;
    left: auto;
    right: auto;
    position: relative;
    margin: 0 0 50px;
    width: 70px;
    height: 70px;
  }

  figure.logo.logo_home a {
    border-width: 3px;
    top: 4px;
    margin: 0 0 0 -5px;
    height: 60px;
    width: 60px;
  }
}

/*::selection, ::-moz-selection {
  background: #ffb7b7;
}*/