<header id="header">
	<div class="header_lead">
		<figure class="logo">
			<a href="/">Sheharyar Naseer</a>
		</figure>
		<h3 id="website_title">
			<a href="/">Sheharyar Naseer</a>
		</h3>
		<h3 id="header_social">
			<a target="_blank" href="https://twitter.com/sheharyarn"><i class="icon-twitter"></i></a>
			<a target="_blank" href="https://pk.linkedin.com/in/sheharyarnaseer/"><i class="icon-linkedin"></i></a>
			<a target="_blank" href="https://github.com/sheharyarn"><i class="icon-github"></i></a>
		</h3>
	</div>
</header>